*{
    margin: 0;
    padding: 0px;
}


nav {
    background-color:   lavender;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    padding: 0px;
}

li {
    text-align: center;
    margin: 4px;
    width: 200px;
    padding: 0;
}

a {
    -webkit-text-stroke: 1px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

li:hover{
  transition: 300ms;
  background-color:     lightsteelblue;
}

#logo {
    display: inline-block;
    position: absolute;
    height: 45px;
}

#k{
    display: inline-block;
    height: 40px;
}

#search {
    display: inline-block;
    padding: 3px;
    width: 360px;
}

#send {
    display: inline-flexbox;
    margin-top: 13px;
    margin-bottom: 8px;
    height: 24px;
    width: 50px;
}

#kart {
    border: none;
    background-color: lavender;
}


#kart:hover {
    transition: 300ms;
    background-color: rgb(255, 255, 255);
}
table {
    display: inline-block;
    position: relative;
    left: 78%;
    background-color: rgb(236, 236, 236);
    padding: 0px 10px 10px 10px;
    border-width: 1px;
    padding-right: 10px;
    align-items: center;
    border-radius: 10px;
}
th {
    border: black solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: 1px;

}

.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.hidden-cart {
	display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}

.titulo-producto-carrito {
	font-size: 20px;
}


.cantidad-producto-carrito {
	font-weight: 400;
	font-size: 20px;
}

.info-cart-product {
	display: flex;
	justify-content: space-between;
	flex: 0.8;
}

.cart-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-total h3 {
	font-size: 20px;
	font-weight: 700;
}

.cart-total {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	gap: 20px;
}

.total-pagar {
	font-size: 20px;
	font-weight: 900;
}


