*{
    margin: 0;
    padding: 0px;
}


nav {
    background-color:   lavender;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    padding: 0px;
}

li {
    text-align: center;
    margin: 4px;
    width: 200px;
    padding: 0;
}

a {
    -webkit-text-stroke: 1px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

li:hover{
  transition: 300ms;
  background-color:     lightsteelblue;
}

#logo {
    display: inline-block;
    position: absolute;
    height: 45px;
}

#k{
    display: inline-block;
    height: 40px;
}


.container-cart-products {
	position: absolute;
	top: 50px;
	right: 0;

	background-color: #fff;
	width: 400px;
	z-index: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.hidden-cart {
	display: none;
}

.cart-empty {
	padding: 20px;
	text-align: center;
}
